---
layout: default
---

{% include wrap.html %}
<img src = "/assets/img/projects/deliverly4.png" alt="Deliverly">
<div class="container mt">
    <!--<div class="row">-->

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
        <!--<img src="/assets/img/project/deliverly4.png" alt="Deliverly" height="42" width="42"> -->

           <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline">  </div>
            <p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Author:</b> {{ page.author }}</p>
            <p><b>Categories:</b> {{ page.categories }}</p>
            <!-- <p><b>Tagged:</b> Flat, UI, Development</p>
            <p><b>Client:</b> {{ page.client }}</p>
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p> -->
        </div>
    </div><!--/row -->
</div><!--/container -->
	 
{% include portfolio.html title="Other Work" limit=5 %}
