---
layout: default
---

{% include wrap.html %}
	

<div class="container mt">
	
    <div class="row">

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            
            <h1>Persuasive Design: Encouraging Users to Create Content</h1>

           <p>I was contracted to redesign the guided editor and article creation page of a popular how-to site.</p>

<p>I created a large paper-and-glass prototype to allow the different pieces of the article creation process to be quickly separated and rearranged. The goal was to determine a system of visual hierarchy that prioritized the most important parts of the article in a way that made sense to the user.</p>
<img src="/assets/img/project/whglassandpaperprototype.jpg" alt="Glass and Paper Prototype" style="float:left;width:170px;padding:8px">

<p>The final design uses an accordion-style layout to visually conceal unnecessary optional parts. Users can then add those parts to the article, but they were kept out of the way when they were not needed.</p>
<p>One challenge was deciding where to allow a user to opt to create more than one way of carrying out the task. The client wanted to encourage users to submit several different versions of how to do the same task, but introducing this option too early in the process or in a forced interaction (e. g. “Does this article have more than one method? Yes or no”) had the potential to discourage new article creators.</p>
<p>The solution was a WYSIWYG article creation format with very obvious text entry fields for the method numbers. This let users know what their options were without forcing them to provide any kind of feedback if they weren’t going to create a new method. It blended in with the interaction as a whole while remaining visible enough not to be missed.</p>
<img src="/assets/img/project/whmethods.jpg" alt="Different ways of getting things done" style="width:500;padding:8px">
        </div>
       
  
        
    </div><!--/row -->
   
        <h2>The final wireframe</h2>
        <div class = "col-lg-5 col-lg-offset-5"></div>
   	<div class = "spacing"></div>
        <img src= "/assets/img/project/wh.jpg" style=float:left;width:700px;padding-right:100px;padding-left:100px>
	</div>

</div><!--/container -->
	 
{% include portfolio.html title="Other Work" limit=5 %}
